/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Style the body */
body {
  background-color: #e9d5ff;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Move button to center of piano */
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* Style the piano to use flex box */
.piano {
  display: flex;
}

.key {
  /* CSS variables */
  height: calc(var(--width) * 4);
  width: var(--width);

  /* Make animation smooth */
  transition: transform 0.06s ease, filter 0.06s ease;
}

/* Hover effect */
.key:hover {
    filter: brightness(0.95);
}

/* Pressed animation (slight movement) */
.key.active {
    transform: translateY(3px);
}

.white {
  --width: 100px;
  background-color: white;
  border: 1px solid #333;
}

.black {
  --width: 60px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.white.active {
    background-color: #ccc;
  }
  
  .black.active {
    background-color: #333;
  }

  .play-button {
    background-color: #555;
    color: white; 
    border: none;    
    padding: 10px 24px;  
    border-radius: 15px;   /* rounds corners */
    font-size: 16px;     /* size of text */
    font-weight: 575;   /* boldness of text */
    cursor: pointer;     /* hand cursor when hovering */ 
  }